.icon-button-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
  border-radius: 50%;
  z-index: 1000; /* Ensure it stays above other content */
}


.bg-container-back {
  background-image: linear-gradient(to bottom, #495e70 5%, #ffffff);
  position: relative;
  width: 100% !important;
  margin: auto;
  margin-top: 0%;
}
.bg-container-back-two {
  background-image: linear-gradient(to bottom, #ffffff 5% , #495e70 );
  position: relative;
  width: 100% !important;
  margin: auto;
  margin-top: 0%;
}
.bg-container {
  background-image: linear-gradient(169deg, #ffffff 70%, #495e70 70%);
  position: relative;
  width: 100% !important;
  height: 800px;
  margin: auto;
  margin-top: 0%;
}
.bg-container-two {
  background-color: #ffffff;
  position: relative;
  width: 100% !important;
  height: 1800px;
  margin: auto;
  padding-top: 25%;
}
.bg-container-three {
  background-image: linear-gradient(169deg, #ffffff 70%, #495e70 70%);
  position: relative;
  width: 100% !important;
  height: 800px;
  margin: auto;
}
.bg-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-size: 40px;
  
}


html,
body {
  padding: 0;
  margin: 0;
  height: 300vh;
  background: #000;
}

.headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10vw;
}

.headline-two {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 50;
  font-size: 5vw;
}

.headerline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 30;
  font-size: 3vw;
}

.titleline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 15;
  font-size: 1.5vw;
}

.descriptionline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 1;
  font-size: 0.2vw;
}

.wider {
  width: 200px;
}

.skills-small {
  height: 80px;
  width: 80px;
}

.skills-large {
  height: 100px;
  width: 100px;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.fulltwo {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient( #495e70 5%, #ffffff);
}

.gradient-white {
  background: linear-gradient( #ffffff, #ffffff);
}

.gradient-two {
  background: linear-gradient( #ffffff 5%, #495e70 );
}

.about {
  text-align: 'center' !important;
  margin:auto;
  background-color: white;
}
